<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLExtract.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SQLExtract.My.MySettings>
            <setting name="EditorWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>SQLOLEDB</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>TDESKTOP\SQLEXPRESS</value>
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value>SQLExtract</value>
            </setting>
            <setting name="Security" serializeAs="String">
                <value>SSPI</value>
            </setting>
            <setting name="CommandTime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ConnectTime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Limit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitAmount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EditorBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryBold" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLExtract.My.MySettings>
    </userSettings>
</configuration>